# Laravel backend
/backend/vendor/
/backend/storage/
/backend/bootstrap/cache
/backend/.env

/backend/.cache
/backend/.devcontainer
/backend/.dotnet
/backend/.vscode-server

# Docker volumes (db-data)
db-data/

# Node modules (if you use npm later)
/backend/node_modules/
